@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "pages/home";
@import "components/button";
@import "layout/header";
@import "layout/grid";
@import "components/composition";

/* 1rem = 10px */
/* 

Pillars of writing good HTML and CSS

1. Responsive design
2. maintainable and scalable code (clean, readable, reusable)
3. web performance : less http req, less code, compress code, css preprocessor, less images, compress images

BTS : Load HTML -> parse HTML ===============================> DOM
                    |                                            |      
                    v                                            v           
                Load CSS => Parse CSS {Resolving conflics} ==> CSSOM
                                                                  |
                                                                  v

Final                   Website rendering         <======  Render Tree
 Rendering         the visual formatting model

                (box model, floats, etc)
                
*/
/* CSS Rule : {selector, declaration block}

casacade : process of combining different stylesheets and resolving conflicts b/w different CSS rules and declarations, when more than one rule applirs to a certain element 
  >> author declaration css : css by developers
  >> user agent css : css by browsers 

                    same imp?                       same specificity?
                    ------->                       ------------>
  importance (weight)              > specificity >               source order :::: for precedance order
                            (count the number of                    
                         occurances of each selector)
  User !important         1. inline                                 the last declaration in the code will override all others
  Author !important       2. IDs                                        and will be applied
  Author declarations     3. class, pseudo class
  User declarations       4. Elements and pseudo elm
  browser default
 */
/* > use !important as the last resource
> inline styles will have priority over external stylesheets
> * - universal selector : no specificity (0,0,0,0)
> rely more on specificity than on the order of selectors
> rely on order while using 3rd-party stylesheets : always put your author stylesheet :last */
/* css values processing



fonts (%)           x% * parent's computed font-size 

lengths(%)          x% * parents's computed width 


[font-based]
em(font)           x * parent computed font-size  
    
em(length)         x * current element computed font-size

rem                x * root computed font-size 
                   x * root computed length 

[Viewport-based]
vh 
(1vh = 1% of viewport ht)
vw 
(1vw = 1% of viewport wd)

  Inheritance

Every CSS prop must have a value : 

            Is there a cascaded value ?

            A. yes : 
                specified value = cascaded value 
            B. no :

                Is the property inherited? (specific to each prop)

                A. yes:
                    specified value = computed value of parent element 
                    (THIS IS INHERITANCE)
                B. no 
                specified value = initial value (specific to each prop)


inherited prop : (prop related to text)  font, color, 
non - inherited : margin , padding, border

'inherit' : forces inheritance on certain prop
'initial' : resets a prop to it's intial value



/* 

Pillars of writing good HTML and CSS

1. Responsive design
2. maintainable and scalable code (clean, readable, reusable)
3. web performance : less http req, less code, compress code, css preprocessor, less images, compress images

BTS : Load HTML -> parse HTML ===============================> DOM
                    |                                            |      
                    v                                            v           
                Load CSS => Parse CSS {Resolving conflics} ==> CSSOM
                                                                  |
                                                                  v

Final                   Website rendering         <======  Render Tree
 Rendering         the visual formatting model

                (box model, floats, etc)
                
CSS Rule : {selector, declaration block}

casacade : process of combining different stylesheets and resolving conflicts b/w different CSS rules and declarations, when more than one rule applirs to a certain element 
  >> author declaration css : css by developers
  >> user agent css : css by browsers 

                    same imp?                       same specificity?
                    ------->                       ------------>
  importance (weight)              > specificity >               source order :::: for precedance order
                            (count the number of                    
                         occurances of each selector)
  User !important         1. inline                                 the last declaration in the code will override all others
  Author !important       2. IDs                                        and will be applied
  Author declarations     3. class, pseudo class
  User declarations       4. Elements and pseudo elm
  browser default
> use !important as the last resource
> inline styles will have priority over external stylesheets
> * - universal selector : no specificity (0,0,0,0)
> rely more on specificity than on the order of selectors
> rely on order while using 3rd-party stylesheets : always put your author stylesheet :last */
/* css values processing



fonts (%)           x% * parent's computed font-size 

lengths(%)          x% * parents's computed width 


[font-based]
em(font)           x * parent computed font-size  
    
em(length)         x * current element computed font-size

rem                x * root computed font-size 
                   x * root computed length 

[Viewport-based]
vh 
(1vh = 1% of viewport ht)
vw 
(1vw = 1% of viewport wd)

Inheritance

Every CSS prop must have a value : 

            Is there a cascaded value ?

            A. yes : 
                specified value = cascaded value 
            B. no :

                Is the property inherited? (specific to each prop)

                A. yes:
                    specified value = computed value of parent element 
                    (THIS IS INHERITANCE)
                B. no 
                specified value = initial value (specific to each prop)


inherited prop : (prop related to text)  font, color, 
non - inherited : margin , padding, border

'inherit' : forces inheritance on certain prop
'initial' : resets a prop to it's intial value


NPM PACKAGES AND SAAS


SASS :: CSS preprocessor
compiler converts sass to css

features : 
            1. variables
            2. nesting
            3. operators
            4. partials and imports
            5. mixins
            6. functions
            7. extends
            8. control directives
sass has 2 syntax
            1. sass syntax
            2. scss syntax




 */

/* 
 
 BASIC RESPONSIVE DESIGN PRINCIPLES

    1. FLUID LAYOUTS
        use *(or vh vw)
        use max-width instead of width

    2. RESPONSIVE UNITS
        use rem instead of pixels

    3. FLEXIBLE IMAGES
        use % for dimension
        use it with max-width

    4. MEDIA QUERIES
        change styles on certain viewpoints called breakpoints


LAYOUT TYPES IN CSS

    1. FLOAT LAYOUTS
        using css float property
        old way

    2. FLEXBOX
        1-d layouts
        component layouts

    3. CSS GRIDS
        2-d grid layouts
        page layout and complex components
         
 */
